@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);


  /*  1- Add a padding at the whole modal
      2- Flex between direct children : Icon and Container
      3- 12px between Icon and Container  */
  padding: 12px;
  display: flex;
  gap: 12px;
  
}

.header{

  /*  This class container the header(text) and the closing button
      1- Flex
      2- Maximize space between text and icon (text left, icon right)
      3- Align 2 items cross axis
      4- Font size for the text*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px;


}
.text{

  /* Just adding margin between the text and buttons */
  margin-bottom: 12px;
}
.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Important to not shrink the icon */
  flex-shrink: 0;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}